In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Distressed Housing Tracts, 2022 on
`ffiec.gov-census-2022e-tract-1.1.1` Last Update: 2022-10-31T20:01:12

_An extract of a subset of columns from the FFIEC Census Flat File, including flags that indicate a tract is distressed._


This dataset extracts the columns for distressed tracts from the FFIEC compilation of census data, for use in their FFIEC Census Windows Application. It includes only 25 columns, the first 17 columns of the file, which have geographic identifiers, median income, and three population totals. The reamaining 8 columns hold flags to indicate if a tract is distressed.

* 1205	Identifies Income Level Indicator
* 1206	Meets current year's poverty CRA distressed criterion?
* 1207	Meets current year's unemployment CRA distressed criterion?
* 1208	Meets current year's population CRA distressed criterion?
* 1209	Meets current year's remote rural (low density) CRA underserved criterion?
* 1210	Meets at least one of the previous year's CRA distressed criteria?
* 1211	Meets previous year's CRA underserved criterion?
* 1212	Meets at least one of current or previous year's CRA distressed/underserved tract criteria?


## Caveats

The 2017 file, as distributed by FFIEC, is broken: it includes a ZIP file with in the ZIP file, which Metapack cannot read. This file has been manually extracted and stored in the source package.
## Documentation Links

* [File information](https://www.ffiec.gov/Census/Census_Flat_Files/cen2022_26AUG22.pdf) Description of the 2022 census file, including all columns. Other years are similar
* [homepage](https://www.ffiec.gov/censusapp.htm)
* [Data Dictionary](https://www.ffiec.gov/Census/Census_Flat_Files/FFIEC_Census_File_Definitions_26AUG22.xlsx) An Excel file with column positions and descriptions



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [ffiec_distressed](data/ffiec_distressed.csv)**. Distressed tracts. An extract of the file with a format that matches the previous extract package, ffiec.gov-census-2013e2021-tract
* ** [ffiec_distressed_ss](data/ffiec_distressed_ss.csv)**. A subset of the ffiec_distressed with fewer columns

## References
<ul><li> <strong><a href="https://www.ffiec.gov/Census/Census_Flat_Files/CensusFlatFile2022.zip#*.csv">ffiec_census_2022</a></strong>. 2022 Census Flat File</li><ul>

In [4]:
# 2022 has a lot of new tracts, about 11,400 more
g22 = set(df[df.year == 2022].geoid)
g21 = set(df[df.year == 2021].geoid)

print(len(g22), len(g21))

new_tracts = list(g22 - g21)

df[df.geoid.isin(new_tracts)].sample(20)

87275 0

,geoid,year,msa_md_code,state,county,tract,principal_city_flag,small_county_flag,split_tract_flag,demo_flag,...,nonwhite,minority_percent,income_level,poverty_distressed,unemployment_distressed,population_distressed,rural_underserved,last_year_distressed,last_year_underserved,current_prior_distressed
83555,14000US53063013003,2022,44060,53,63,13003,1,T,N,D,...,1195,18,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81936,14000US51810045433,2022,47260,51,810,45433,1,T,N,D,...,1732,38,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4666,14000US06001450752,2022,36084,6,1,450752,1,T,N,D,...,8435,85,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23943,14000US13227050500,2022,12060,13,227,50500,0,T,N,D,...,464,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19604,14000US12095012202,2022,36740,12,95,12202,0,T,N,D,...,4597,90,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78707,14000US48491021300,2022,12420,48,491,21300,0,T,N,D,...,1621,42,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72491,14000US48041002017,2022,17780,48,41,2017,1,T,N,X,...,3687,56,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38780,14000US26025000900,2022,12980,26,25,900,1,T,N,D,...,1024,29,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32631,14000US21067003704,2022,30460,21,67,3704,1,T,N,D,...,3285,44,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41792,14000US27017070300,2022,20260,27,17,70300,0,T,N,D,...,329,5,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7414,14000US06037533806,2022,31084,6,37,533806,0,T,N,D,...,3843,97,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72687,14000US48061014403,2022,15180,48,61,14403,1,T,N,D,...,3053,91,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43872,14000US28107950400,2022,99999,28,107,950400,0,T,N,D,...,1764,32,3,X,NaN,NaN,NaN,NaN,NaN,X
1286,14000US01117030317,2022,13820,1,117,30317,0,T,N,D,...,888,21,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4240,14000US05143010202,2022,22220,5,143,10202,1,T,N,D,...,3454,83,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4161,14000US05129999999,2022,99999,5,129,999999,0,S,N,D,...,736,9,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73011,14000US48091310903,2022,41700,48,91,310903,0,T,N,D,...,1651,22,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84559,14000US55025000902,2022,31540,55,25,902,1,T,N,D,...,1192,20,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34966,14000US22109001302,2022,26380,22,109,1302,0,T,N,D,...,698,52,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9488,14000US06065042733,2022,40140,6,65,42733,0,T,N,D,...,8517,58,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = pkg.resource('ffiec_distressed_ss').dataframe()
df.sample(10).head().T

,76386,78516,70406,22309,35816
geoid,14000US48257050701,14000US48479001824,14000US47043060602,14000US13085970102,14000US24005490602
geoid_tiger,48257050701,48479001824,47043060602,13085970102,24005490602
year,2022,2022,2022,2022,2022
msa_md_code,19124,29700,34980,12060,12580
urban_rural_flag,0,0,0,0,0
msa_family_income,88315.0,54078.0,83085.0,84791.0,104637.0
msa_household_income,74251.0,50296.0,68406.0,71193.0,83811.0
tract_household_income,88382.0,80106.0,44823.0,65202.0,104871.0
tract_family_income_pct,108.72,140.39,73.6,88.82,110.09
ffiec_median_income,97400.0,66000.0,95600.0,95700.0,116100.0
population,5571.0,4669.0,6879.0,4824.0,3195.0
families,1040.0,1104.0,1569.0,1017.0,777.0
households,1304.0,1170.0,2590.0,1480.0,1277.0
female,2374.0,2382.0,3582.0,1906.0,1587.0
male,2211.0,2156.0,3268.0,2105.0,1479.0
nonwhite,1883.0,4561.0,1593.0,550.0,742.0
minority_percent,33.0,97.0,23.0,11.0,23.0
income_level,3.0,4.0,2.0,3.0,3.0
poverty_distressed,0,0,0,0,0
unemployment_distressed,0,0,0,0,0
population_distressed,0,0,0,0,0
rural_underserved,0,0,0,0,0
last_year_distressed,0,0,0,0,0
last_year_underserved,0,0,0,0,0
current_prior_distressed,0,0,0,0,0

In [4]:
df.last_year_distressed.value_counts()

0    87275
Name: last_year_distressed, dtype: Int64

In [6]:
df.dtypes

geoid                        object
geoid_tiger                  object
year                          Int64
msa_md_code                   Int64
urban_rural_flag             object
msa_family_income           float64
msa_household_income        float64
tract_household_income      float64
tract_family_income_pct     float64
ffiec_median_income         float64
population                  float64
families                    float64
households                  float64
female                      float64
male                        float64
nonwhite                    float64
minority_percent            float64
income_level                float64
poverty_distressed            Int64
unemployment_distressed       Int64
population_distressed         Int64
rural_underserved             Int64
last_year_distressed          Int64
last_year_underserved         Int64
current_prior_distressed      Int64
dtype: object

In [7]:

pkg = mp.open_package('http://library.metatab.org/ffiec.gov-census-2022e-tract-1.1.1.csv')

# Create Dataframes
ffiec_distressed_df = pkg.resource('ffiec_distressed').dataframe()
ffiec_distressed_ss_df = pkg.resource('ffiec_distressed_ss').dataframe()

In [9]:
ffiec_distressed_ss_df.sample(10).head().T

,42067,5567,43526,1502,28460
geoid,14000US27053000102,14000US06029004305,14000US28049010809,14000US02020001801,14000US17197882000
geoid_tiger,27053000102,06029004305,28049010809,02020001801,17197882000
year,2022,2022,2022,2022,2022
msa_md_code,33460,12540,27140,11260,16984
urban_rural_flag,0,0,0,0,0
msa_family_income,103977.0,61044.0,67202.0,98403.0,92622.0
msa_household_income,82887.0,54851.0,53639.0,82890.0,74236.0
tract_household_income,46333.0,98906.0,70172.0,76408.0,32212.0
tract_family_income_pct,46.38,162.02,113.09,93.15,42.13
ffiec_median_income,117800.0,67900.0,74000.0,111600.0,105700.0
population,5178.0,1665.0,2688.0,4372.0,3152.0
families,809.0,361.0,768.0,1314.0,359.0
households,1752.0,361.0,1062.0,2010.0,678.0
female,2363.0,874.0,1430.0,2531.0,1011.0
male,2629.0,1011.0,1392.0,2582.0,1539.0
nonwhite,3366.0,1476.0,2274.0,2214.0,2740.0
minority_percent,65.0,88.0,84.0,50.0,86.0
income_level,1.0,4.0,3.0,3.0,1.0
poverty_distressed,0,0,0,0,0
unemployment_distressed,0,0,0,0,0
population_distressed,0,0,0,0,0
rural_underserved,0,0,0,0,0
last_year_distressed,0,0,0,0,0
last_year_underserved,0,0,0,0,0
current_prior_distressed,0,0,0,0,0