In [1]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [2]:
# NOTE! Opening built package, not source package, to get access to the previously built ffiec_distressed
# dataset
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()
pkg

# Distressed Housing Tracts, 2022 on
`ffiec.gov-census-2022e-tract-1.1.1` Last Update: 2022-10-31T19:46:51

_An extract of a subset of columns from the FFIEC Census Flat File, including flags that indicate a tract is distressed._


This dataset extracts the columns for distressed tracts from the FFIEC compilation of census data, for use in their FFIEC Census Windows Application. It includes only 25 columns, the first 17 columns of the file, which have geographic identifiers, median income, and three population totals. The reamaining 8 columns hold flags to indicate if a tract is distressed.

* 1205	Identifies Income Level Indicator
* 1206	Meets current year's poverty CRA distressed criterion?
* 1207	Meets current year's unemployment CRA distressed criterion?
* 1208	Meets current year's population CRA distressed criterion?
* 1209	Meets current year's remote rural (low density) CRA underserved criterion?
* 1210	Meets at least one of the previous year's CRA distressed criteria?
* 1211	Meets previous year's CRA underserved criterion?
* 1212	Meets at least one of current or previous year's CRA distressed/underserved tract criteria?


## Caveats

The 2017 file, as distributed by FFIEC, is broken: it includes a ZIP file with in the ZIP file, which Metapack cannot read. This file has been manually extracted and stored in the source package.
## Documentation Links

* [File information](https://www.ffiec.gov/Census/Census_Flat_Files/cen2022_26AUG22.pdf) Description of the 2022 census file, including all columns. Other years are similar
* [homepage](https://www.ffiec.gov/censusapp.htm)
* [Data Dictionary](https://www.ffiec.gov/Census/Census_Flat_Files/FFIEC_Census_File_Definitions_26AUG22.xlsx) An Excel file with column positions and descriptions



## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* ** [ffiec_distressed](data/ffiec_distressed.csv)**. Distressed tracts. An extract of the file with a format that matches the previous extract package, ffiec.gov-census-2013e2021-tract
* ** [ffiec_distressed_ss](data/ffiec_distressed_ss.csv)**. A subset of the ffiec_distressed with fewer columns

## References
<ul><li> <strong><a href="https://www.ffiec.gov/Census/Census_Flat_Files/CensusFlatFile2022.zip#*.csv">ffiec_census_2022</a></strong>. 2022 Census Flat File</li><ul>

In [3]:
df = pkg.resource('ffiec_distressed').dataframe()
df

,geoid,year,msa_md_code,state,county,tract,principal_city_flag,small_county_flag,split_tract_flag,demo_flag,...,nonwhite,minority_percent,income_level,poverty_distressed,unemployment_distressed,population_distressed,rural_underserved,last_year_distressed,last_year_underserved,current_prior_distressed
0,14000US01001020100,2022,33860,1,1,20100,0,T,N,D,...,399,22,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,14000US01001020200,2022,33860,1,1,20200,0,T,N,D,...,1221,59,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14000US01001020300,2022,33860,1,1,20300,0,T,N,D,...,996,30,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14000US01001020400,2022,33860,1,1,20400,0,T,N,D,...,724,17,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14000US01001020501,2022,33860,1,1,20501,0,T,N,D,...,1111,25,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87270,14000US78030960900,2022,99999,78,30,960900,0,I,N,I,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87271,14000US78030961000,2022,99999,78,30,961000,0,I,N,I,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87272,14000US78030961100,2022,99999,78,30,961100,0,I,N,I,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87273,14000US78030961200,2022,99999,78,30,961200,0,I,N,I,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87274,14000US78030990000,2022,99999,78,30,990000,0,I,N,I,...,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['geoid_tiger'] = df.geoid.str.replace('14000US','')

cols = ['geoid', 'geoid_tiger', 'year', 'msa_md_code', 'urban_rural_flag', 'msa_family_income',
       'msa_household_income', 'tract_household_income',
       'tract_family_income_pct', 'ffiec_median_income', 'population',
       'families', 'households', 'female', 'male', 'nonwhite',
       'minority_percent', 'income_level', 'poverty_distressed',
       'unemployment_distressed', 'population_distressed', 'rural_underserved',
       'last_year_distressed', 'last_year_underserved',
       'current_prior_distressed']

df = df[cols]
df.head().T

,0,1,2,3,4
geoid,14000US01001020100,14000US01001020200,14000US01001020300,14000US01001020400,14000US01001020501
geoid_tiger,01001020100,01001020200,01001020300,01001020400,01001020501
year,2022,2022,2022,2022,2022
msa_md_code,33860,33860,33860,33860,33860
urban_rural_flag,NaN,NaN,NaN,NaN,NaN
msa_family_income,68115,68115,68115,68115,68115
msa_household_income,54250,54250,54250,54250,54250
tract_household_income,60388,49144,62423,64310,87664
tract_family_income_pct,103.79,73.6,102.93,110.95,133.41
ffiec_median_income,75500,75500,75500,75500,75500
population,1775,2055,3216,4246,4322
families,555,359,975,1137,1278
households,693,573,1351,1636,1706
female,963,747,1855,1745,2117
male,978,1010,1839,1794,2189
nonwhite,399,1221,996,724,1111
minority_percent,22,59,30,17,25
income_level,3,2,3,3,4
poverty_distressed,NaN,NaN,NaN,NaN,NaN
unemployment_distressed,NaN,NaN,NaN,NaN,NaN
population_distressed,NaN,NaN,NaN,NaN,NaN
rural_underserved,NaN,NaN,NaN,NaN,NaN
last_year_distressed,NaN,NaN,NaN,NaN,NaN
last_year_underserved,NaN,NaN,NaN,NaN,NaN
current_prior_distressed,NaN,NaN,NaN,NaN,NaN

In [7]:
cols =['poverty_distressed',
       'unemployment_distressed', 'population_distressed', 'rural_underserved',
       'last_year_distressed', 'last_year_underserved',
       'current_prior_distressed']

df.loc[:,cols] = df.loc[:,cols].replace({'X':'1'}).fillna(0).astype(int)

In [8]:
df = df.fillna(0)
df.dtypes

geoid                        object
geoid_tiger                  object
year                          Int64
msa_md_code                   Int64
urban_rural_flag              int64
msa_family_income             Int64
msa_household_income          Int64
tract_household_income        Int64
tract_family_income_pct     float64
ffiec_median_income           Int64
population                    Int64
families                      Int64
households                    Int64
female                        Int64
male                          Int64
nonwhite                      Int64
minority_percent              Int64
income_level                  Int64
poverty_distressed            int64
unemployment_distressed       int64
population_distressed         int64
rural_underserved             int64
last_year_distressed          int64
last_year_underserved         int64
current_prior_distressed      int64
dtype: object

In [6]:
df.columns

Index(['geoid', 'geoid_tiger', 'year', 'msa_md_code', 'urban_rural_flag',
       'msa_family_income', 'msa_household_income', 'tract_household_income',
       'tract_family_income_pct', 'ffiec_median_income', 'population',
       'families', 'households', 'female', 'male', 'nonwhite',
       'minority_percent', 'income_level', 'poverty_distressed',
       'unemployment_distressed', 'population_distressed', 'rural_underserved',
       'last_year_distressed', 'last_year_underserved',
       'current_prior_distressed'],
      dtype='object')